<style>
    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        margin-top: 0;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown span:hover, .dropdown a:hover, .nav-item a:hover  {
        background-color: #eeeeee;
        padding: 6px 12px;
        border-radius: 4px;
        transition: background-color 0.5s ease, padding 0.3s ease;
    }


</style>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
</li>

<div class="dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="Order"
        asp-action="Place">Sipariş</a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Order"
            asp-action="Place">Sipariş Geç</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Order"
            asp-action="Confirm">Sipariş Onayla</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Order"
            asp-action="Control">Sipariş Kontrol</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="Function"
       asp-action="SellOutEntry">İşlevler</a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
               asp-action="SellOutEntry">Sell-out Giriş</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
               asp-action="NumaratorEntry">Numaratör Giriş</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
               asp-action="SerialControl">Seri Kontrol</a></li>
        
        <li class="dropdown-submenu">
            <a class="dropdown-item text-dark">Garanti</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
               asp-action="WarrantyReqEntry">Garanti İstek Giriş</a></li>
                <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
               asp-action="WarrantyProcessTrack">Garanti Süreç Takibi</a></li>
            </ul>
        </li>
    </ul>
</div>


<div class="dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="Report"
        asp-action="Mizan">Raporlar</a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Report"
            asp-action="Mizan">Mizan</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Report"
            asp-action="Ekstre">Ekstre</a></li>
    </ul>
</div>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Notice" asp-action="NoticeEdit">Duyuru Düzenle</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" href="ftp://bayii:2563@mbl.bilgitas.com.tr">Download</a>
</li>

<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"><span style="color: brown;">[Sistemden Çıkış]</span></a>
    </li>

    <li class="nav-item"></li>
        <a class="nav-link text-dark">@WebLoginUser.AuthId</a>
    </li>
</ul>


@*
<style>
    .dropdown:hover .dropdown-menu {
    display: block;
}

</style>

@foreach (var items in Model)
{
    <div class="dropdown">
            <a class="nav-link text-dark" asp-area="" asp-controller="@items.Controller"
            asp-action="@items.Action">@items.Name</a>
            
            <ul class="dropdown-menu">
                @foreach(var itemsSubCategories in items.subCategories){
                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="@itemsSubCategories.Controller"
                    asp-action="@itemsSubCategories.Action">@itemsSubCategories.Name</a></li>
                }
            </ul>
        </div>

    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="@items.Controller"
            asp-action="@items.Action">@items.Name</a>
    </li>
} *@