@* @model List<Category> *@

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
</li>

<div class="dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="Function"
        asp-action="Home">Sipariş</a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Order"
            asp-action="Place">Sipariş Geç</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Order"
            asp-action="Confirm">Sipariş Onayla</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Order"
            asp-action="Control">Sipariş Kontrol</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="Function"
        asp-action="Home">İşlevler</a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
            asp-action="SellOutEntry">Sell-out Giriş</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
            asp-action="Place">Numaratör Giriş</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
            asp-action="SerialControl">Seri Kontrol</a></li>
        
        <li>
            <a class="dropdown-item text-dark" asp-area="" asp-controller="Function"
            asp-action="SerialControl">Garanti</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="nav-link text-dark" asp-area="" asp-controller="Function"
        asp-action="Home">Raporlar</a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Report"
            asp-action="Mizan">Mizan</a></li>

        <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Report"
            asp-action="Ekstre">Ekstre</a></li>
    </ul>
</div>

@*
<style>
    .dropdown:hover .dropdown-menu {
    display: block;
}

</style>

@foreach (var items in Model)
{
    <div class="dropdown">
            <a class="nav-link text-dark" asp-area="" asp-controller="@items.Controller"
            asp-action="@items.Action">@items.Name</a>
            
            <ul class="dropdown-menu">
                @foreach(var itemsSubCategories in items.subCategories){
                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="@itemsSubCategories.Controller"
                    asp-action="@itemsSubCategories.Action">@itemsSubCategories.Name</a></li>
                }
            </ul>
        </div>

    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="@items.Controller"
            asp-action="@items.Action">@items.Name</a>
    </li>
} *@

<li class="nav-item">
    <a class="nav-link text-dark" href="ftp://bayii:2563@mbl.bilgitas.com.tr">Download</a>
</li>