@* @model List<Category>

<style>
    .dropdown:hover .dropdown-menu {
    display: block;
}

</style>

@foreach (var items in Model)
{
    <div class="dropdown">
            <a class="nav-link text-dark" asp-area="" asp-controller="@items.Controller"
            asp-action="@items.Action">@items.Name</a>
            
            <ul class="dropdown-menu">
                @foreach(var itemsSubCategories in items.subCategories){
                    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="@itemsSubCategories.Controller"
                    asp-action="@itemsSubCategories.Action">@itemsSubCategories.Name</a></li>
                }
            </ul>
        </div>

    @* <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="@items.Controller"
            asp-action="@items.Action">@items.Name</a>
    </li> *@
}
<li class="nav-item">
    <a class="nav-link text-dark" href="ftp://bayii:2563@mbl.bilgitas.com.tr">Download</a>
</li> 

<li class="nav-item">
    <a class="nav-link text-dark" href="ftp://bayii:2563@mbl.bilgitas.com.tr">Download</a>
</li> 