@model List<Item>

@{
    ViewData["Title"] = "Place Order";
}
<h1>@ViewData["Title"]</h1>

<p>Herhangi bir sipariş işlemi giriniz</p>

<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Madde Kategori</th>
            <th scope="col">Ürün Grup</th>
            <th scope="col">Madde Kodu</th>
            <th scope="col">Madde Açıklama</th>
            <th scope="col">Alternatif Kod</th>
            <th scope="col">Stok Transfer Kodu</th>
            <th scope="col">Satış Fiyatı</th>
            <th scope="col">Stok Miktarı</th>
            <th scope="col">Sipariş Açıklama</th>
            <th scope="col">Miktar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td>@items.CategoryName</td>
                <td>@items.ItemGroup</td>
                <td>@items.ItemCode</td>
                <td>@items.Description</td>
                <td>@items.AlternativeCode</td>
                <td>@items.StockTransferType</td>
                <td>@items.SalesPrice</td>
                <td>@items.StockAmount</td>
                <td><input type="text"></td>
                <td><input type="number" name="" id=""></td>
            </tr>
        }
    </tbody>
</table>
