@{
    string formattedPrice;
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Madde Kategori</th>
            <th scope="col">Ürün Grup</th>
            <th scope="col">Özellikler</th>
            <th scope="col">Madde Kodu</th>
            <th scope="col">Madde Açıklama</th>
            <th scope="col">Alternatif Kod</th>
            <th scope="col">Para Birimi</th>
            <th scope="col">Satış Fiyatı</th>
            <th scope="col">Sipariş Açıklama</th>
            <th scope="col">#</th>
        </tr>
        <tr>
            <th scope="col" />
            <th scope="col" />
            <th scope="col" />
            <th scope="col"><input type="text" class="form-control"></th>
            <th scope="col"><input type="text" class="form-control"></th>
            <th scope="col"><input type="text" class="form-control"></th>
            <th scope="col" />
            <th scope="col" />
            <th scope="col" />
        </tr>
    </thead>
    <tbody>
        @try
        {
            foreach (var items in Model.Items)
            {
                <tr>
                    <td>@items.ItemCategory</td>
                    <td>@items.ProductGroup</td>
                    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#InfoModal">Detay</button></td>
                    <td>@items.ItemCode</td>
                    <td>@items.ItemDescription</td>
                    <td>@items.AlternativeCode</td>
                    <td>@items.CurrencyCode</td>
                    <td>@{formattedPrice = items.UnitPrice.ToString("0.##");}@formattedPrice</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="number" name="" id="" class="form-control"></td>
                    <td><button type="button" class="btn btn-success">Ekle</button></td>
                </tr>
            }
        }
        catch
        {

        }
    </tbody>
</table>